.filterButton {
	padding: 10px 20px;
	background-color: #141921;
	border-radius: 5px;
	text-decoration: none;
	color: inherit;
	border: none;
	position: relative;
}

.filterButton:hover {
	cursor: pointer;
	transform: scale(1.01);
	background-color: #1d232e;
}

.filterButtonIndicate::before {
	content: '';
	position: absolute;
	top: 5px;
	right: 7px;
	width: 5px;
	height: 5px;
	background-color: #b0104b;
	border-radius: 100%;
}

.filtersBlock {
	background-color:	#202630;
	display: block;
	/* overflow: hidden; */
	border-radius: 5px;
	/* animation: show-filters 0.5s; */
	/* animation-fill-mode: forwards; */
}

.filtersBlockContent {
	padding: 20px 20px;
	/* animation: show-filter-contnet 0.5s; */
	/* opacity: 0; */
	/* animation-delay: 0.2s;
	animation-fill-mode: forwards; */
}

.filterBlockClosed {
	/* animation: hide-filters 0.5s;
	animation-fill-mode: forwards; */
	display: none;
}

/* @keyframes show-filter-contnet {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes show-filters {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}

@keyframes hide-filters {
	0% {
		height: 100%;
	}

	100% {
		height: 0;
	}
} */


.title {
	margin: 0 0 20px 0;
}

.list {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	display: grid;
	column-gap: 40px;
	row-gap: 10px;
}

.filter {
	display: grid;
	grid-auto-flow: column;
	column-gap: 10px;
	justify-content: flex-start;
}

.clearFilters {
	border: none;
	border-radius: 5px;
	padding: 5px 12px;
	background-color: #c6cfde;
	cursor: pointer;
}

.clearFilters:hover {
	background-color: #e6eaf1;
}
