.list {
	padding: 20px 20px;
	margin: 0;
	display: flex;
	list-style: none;
}

.list li {
	margin-right: 10px;
}

.list li button {
	border: none;
	background-color: transparent;
	color: #959595;
	cursor: pointer;
}

.list li button.breadcrumbActive {
	color: white;
	cursor: default;
}
